/* Coolors Exported Palette - https://coolors.co/d9f0ff-a3d5ff-83c9f4-4f62ba-235789 */

/* CSS HEX */
--alice-blue: #d9f0ffff;
--light-sky-blue: #a3d5ffff;
--light-sky-blue-2: #83c9f4ff;
--savoy-blue: #4f62baff;
--lapis-lazuli: #235789ff;

/* CSS HSL */
--alice-blue: hsla(204, 100%, 93%, 1);
--light-sky-blue: hsla(207, 100%, 82%, 1);
--light-sky-blue-2: hsla(203, 84%, 74%, 1);
--savoy-blue: hsla(229, 44%, 52%, 1);
--lapis-lazuli: hsla(209, 59%, 34%, 1);

/* SCSS HEX */
$alice-blue: #d9f0ffff;
$light-sky-blue: #a3d5ffff;
$light-sky-blue-2: #83c9f4ff;
$savoy-blue: #4f62baff;
$lapis-lazuli: #235789ff;

/* SCSS HSL */
$alice-blue: hsla(204, 100%, 93%, 1);
$light-sky-blue: hsla(207, 100%, 82%, 1);
$light-sky-blue-2: hsla(203, 84%, 74%, 1);
$savoy-blue: hsla(229, 44%, 52%, 1);
$lapis-lazuli: hsla(209, 59%, 34%, 1);

/* SCSS RGB */
$alice-blue: rgba(217, 240, 255, 1);
$light-sky-blue: rgba(163, 213, 255, 1);
$light-sky-blue-2: rgba(131, 201, 244, 1);
$savoy-blue: rgba(79, 98, 186, 1);
$lapis-lazuli: rgba(35, 87, 137, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);
$gradient-right: linear-gradient(90deg, #d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);
$gradient-bottom: linear-gradient(180deg, #d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);
$gradient-left: linear-gradient(270deg, #d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);
$gradient-top-right: linear-gradient(45deg, #d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);
$gradient-bottom-right: linear-gradient(135deg, #d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);
$gradient-top-left: linear-gradient(225deg, #d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);
$gradient-bottom-left: linear-gradient(315deg, #d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);
$gradient-radial: radial-gradient(#d9f0ffff, #a3d5ffff, #83c9f4ff, #4f62baff, #235789ff);